<table>
  <thead>
    <tr>
      <th width="25%" align="left">State</th>
      <th width="20%" align="left">Capital</th>
      <th width="20%" align="left">Population</th>
      <th width="20%" align="left">Area</th>
      <th width="15%" align="left">Flag</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
    <tr>
      <td>
        <%= state.name %>
      </td>
      <td>
        <%= state.capital %>
      </td>
      <td>
        <%= state.population %>
      </td>
      <td>
        <%= state.area %>
      </td>
      <td>
        <% if state.state_flag != '' %>
          <%= image_tag "#{state.state_flag}", :style => "width: 65px; box-shadow: 2px 2px 4px #000;" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
