<table>
  <thead>
    <tr>
      <th width="20%" align="left">State</th>
      <th width="20%" align="left">Capital</th>
      <th width="20%" align="left">Population</th>
      <th width="20%" align="left">Area</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
    <tr>
      <td>
        <%= state.name %>
      </td>
      <td>
        <%= state.capital %>
      </td>
      <td>
        <%= state.population %>
      </td>
      <td>
        <%= state.area %>
      </td>
      <td>
        <% if state.state_flag != '' %>
          <%= state.area %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
